@if (visible) {
  <div class="modal-backdrop" [class.modal-backdrop-open]="animating" (click)="onBackdropClick()">
    <div [class]="getDialogClass()" (click)="$event.stopPropagation()">

      <!-- Header -->
      <div class="modal-header">
        <div class="modal-header-left">
          @if (icon) {
            <div [class]="getIconClass()">
              <i [class]="icon"></i>
            </div>
          }
          @if (title) {
            <h5 class="modal-title">{{ title }}</h5>
          }
        </div>
        @if (closable) {
          <button class="modal-close-btn" (click)="close()">
            <i class="bi bi-x-lg"></i>
          </button>
        }
      </div>

      <!-- Body -->
      <div class="modal-body" [class.modal-body-scrollable]="scrollable">
        <ng-content select="[modal-body]"></ng-content>
      </div>

      <!-- Footer -->
     
        <ng-content select="[modal-footer]"></ng-content>

    </div>
  </div>
}