<div class="popover-wrapper"
  (click)="onTriggerClick()"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()">

  <!-- Trigger slot -->
  <ng-content></ng-content>

  <!-- Popover Box -->
  <div [class]="getPopoverClass()" [style.maxWidth.px]="maxWidth">

    <!-- Arrow -->
    <div class="popover-arrow"></div>

    <!-- Title -->
    @if (title) {
      <div class="popover-title">{{ title }}</div>
    }

    <!-- Content -->
    <div class="popover-content">
      @if (content) {
        {{ content }}
      } @else {
        <ng-content select="[popover-content]"></ng-content>
      }
    </div>

  </div>

</div>