<div class="toast-container">
  @for (toast of toastService.toasts(); track toast.id) {
    <div [class]="getClass(toast.type)">
      <div class="toast-icon-wrap">
        <i [class]="getIcon(toast.type)"></i>
      </div>
      <div class="toast-body">
        @if (toast.title) {
          <p class="toast-title">{{ toast.title }}</p>
        }
        <p class="toast-message">{{ toast.message }}</p>
      </div>
      <button class="toast-close" (click)="toastService.remove(toast.id)">
        <i class="bi bi-x"></i>
      </button>
      <div class="toast-progress"></div>
    </div>
  }
</div>